/* Stlying Test Version 1 - Further changes will be flagged*/

*{
  font-family:Arial, Helvetica, sans-serif
}

body{
  background-color: rgb(0, 0, 75);
  color: #eee;
}
#header{
  text-align: center;
  color:pink;
  font-size: 2em;
  padding: 8px;
}

.list-container{
  font-size: 1.2em;
  font-weight: 700;
}
.list{
  margin:5%;
  text-align: center;
}

.recipe{
  display: block;
  text-align: center;
  color:yellow;
  border: 1px solid yellow;
  padding: 4px;
  margin:4px;
}

.action{
  background-color: pink;
  color: black;
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
  border: 2px solid pink;
  padding: 0 45%;
}
